<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="container">
        <div class="cantainer__form">
            <div class="container__form_button">
                    <div class="elegir" id="elegir"></div>
                    <button type="button" class="precionar-button" onclick="login()">Iniciar Sesión</button>
                    <button type="button" class="precionar-button" onclick="registrar()">Registrarse</button>
            </div>
            <div class="redes_sociales">
                <a href="https://www.facebook.com/home.php"><img src="../img/facebook-logo-0.png" alt="icono-facebook"></a>
                <img src="../img/gmail_icon-icons.com_62758.png" alt="icono-gmail">
                <img src="../img/twitter.png" alt="icono-twitter">
            </div>
            <form id="login" class="input__group">
                <input type="text" class="input-field" placeholder="Nombre de Usuario" required id="nlogin">
                <input type="password" class="input-field" placeholder="Contraseña" required id="ncontraseña" >
                <input type="checkbox" class="check-box"><span>Recordar Contraseña</span>
                <a href="/" class="submit_box">Acceder</a>
            </form>
            <form method="POST" target="/registro" id="registrar" class="input__group">
                <div>
                    <input type="text" class="input-field" placeholder="Nombre de Usuario" required id="registrousuario">
                    <input type="text" class="input-field" placeholder="Correo" required id="registroemail">
                    <input type="password" class="input-field" placeholder="Contraseña" required id="registrocontraseña">
    
                </div>
                <a href="/" class="submit_box">Registrarse</a>
            </form>
            <p class="warning" id="warnings"></p>
        </div>
    </div>
    <script src="../js/estilo.js"></script>
    <script src="../js/validar.js"></script>
</body>
</html>
